<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fengbujue0104.mcgo"
    android:versionCode="1"
    android:versionName="0.1.0">

    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="34"/>

    <uses-feature android:glEsVersion="0x00020000" android:required="true"/>

    <application
        android:label="Minecraft Go"
        android:hasCode="false"
        android:debuggable="true"
        android:extractNativeLibs="true"
        android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">

        <activity
            android:name="android.app.NativeActivity"
            android:label="Minecraft Go"
            android:screenOrientation="sensorLandscape"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize"
            android:exported="true">
            <meta-data android:name="android.app.lib_name" android:value="game"/>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
